@font-face {
    font-family: "lemonada";
    src: url(./fonts/Lemonada-Regular.woff2), url(./fonts/Lemonada-SemiBold.woff2), url(./fonts/Lemonada-Regular.ttf), url(./fonts/Lemonada-SemiBold.ttf);
}

*{
    width: 1300px ;
    margin:auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

* {
}



header{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
    header img{
        margin: 20px;
        width: 15%;
    }
    h1{
        margin: 0; 
        width: 30%;
        font-family: "lemonade";
        color: #8C4303;
        font-size: 2.5rem;
    }
    ul{
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        text-transform: uppercase;
        
    }
       ul li{
            font-weight: bold;
            font-size: 1.2rem;
            width: auto;
            margin: 30px;
        }
        ul li:hover{
            text-decoration: underline 2px #8C4303;
        }

main{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
}

    article{
        width: 60%;
        margin:40px;
        display: flex;
        flex-direction: column;
    }
        h2{
            width: 100%;
            margin: 20px;
            font-size: 1.2rem;
            text-align: center;

        }
        article img{
            width: 100%;
            margin: 10px 20px;

        }
        p{
            width: 100%;
            margin:5px 20px;

        }
    section{
        width: 40%;
        margin: 40px;
        display: flex;
        flex-direction: column;
    }
        h3{
            margin: 20px 40px;
            width: 100%;
            font-size: 1.1rem;
            color: #422100;

        }
        ol{
            margin: 20px 40px 50%;
            width: 100%;

        }
        ol li{
            width: 100%;

        }
        div{
            width: 100%;
            margin: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

        }
        div img{
            width: 80px;
            margin: 5px;
        }
        div img:hover{
            opacity: 0.8;
        }

footer{
    text-align: center;
}